html,
body {
  margin: 0;
  height: 100%;
}

#markdown-preview {
  margin: 20px auto;
  max-width: 700px;
  text-align: center;
}

#editor {
  padding: 10px;
  outline: none;
  border: 2px solid cyan;
  resize: none;
}

#preview {
  padding: 10px;
  text-align: left;
}

#editor-label,
#preview-label {
  margin: 30px 0;
  color: #dd4814;
  font-size: 30px;
}
